MYSQL_HOSTNAME=mariadb
MYSQL_ROOT_PASSWORD=changeme_root_password

WP_DB_NAME=wordpress
WP_DB_USER=changeme_db_user
WP_DB_PASS=changeme_db_password

DOMAIN=login.42.fr

WP_TITLE=Inception
WP_ADMIN_USER=changeme_admin
WP_ADMIN_PASS=changeme_admin_password
WP_ADMIN_MAIL=admin@example.com

WP_USER=changeme_user
WP_PASS=changeme_user_password
WP_MAIL=user@example.com
